.bg-blue {
    background-color: rgba(3, 3, 40, 0.9);
    -webkit-transition: background-color 0.5s ease-in-out !important;
    transition: background-color 0.5s ease-in-out !important;
}

body {
    color: #272626 !important;
    min-height: 75rem;
    padding-top: 10.5rem;
    background: #050d1e;
}

.text-shadow {
    text-shadow: 0 0 0.5em black;
}
.btn-outline-info {
    background-color: rgba(13, 202, 240, 1);
    color: #000;
}

.btn-outline-info:hover {
    opacity: 0.8;
}

.video-card {
    overflow: hidden;
    cursor: pointer;
}

.video-card:hover img {
    transform: scale(1.1);
}